body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f4f0; /* Cor pastel clara */
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f4f0; /* Fundo pastel */
    padding: 20px;
}
header img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}
h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #2b6cb0; /* Azul real */
    margin: 0;
}
h2 {
    margin-top: 20px;
}
p {
    color: #333;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
section {
    margin-bottom: 30px;
}
ul, ol {
    padding-left: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #ded3c9; /* Fundo pastel claro */
    font-size: 0.9rem;
}
.wireframe-image {
    text-align: center;
    margin-top: 20px;
}
.wireframe-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}