main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.sub-title-form,
.sub-title-member {
    color: var(--headline-color-on-white);
    font-size: var(--font-size-large);
    text-align: center;
    margin: 10px;
}

.sub-title-member {
    font-weight: bold;
    margin-top: 35px;
}

/* Formulário */
form {
    width: 95%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    border: 1px solid var(--king-kong);
    background-color: #44393263;
}

label {
    display: block;
    margin-bottom: 10px;
}

.name-lb input {
    display: inline-block;
    width: 45%;
    margin-right: 5px;
}

input,
textarea,
select {
    width: 90%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid var(--king-kong);
    border-radius: 5px;
}

/* Membership Container */
.membership-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    text-align: center;
}

.membership-container h3 {
    color: var(--headline-color-on-white);
    font-size: var(--font-size-large);
    margin: 10px;
}

/* Cards */
.membership-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 250px;
    max-width: 150px;
    animation: animate 5s ease infinite;
}

.card h3 {
    color: var(--king-kong);
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}



.card:nth-child(1) { background-color: #00A36C; }  /* Non-Profit */
.card:nth-child(2) { background-color: #CD7F32; }  /* Bronze */
.card:nth-child(3) { background-color: #C0C0C0; }  /* Silver */
.card:nth-child(4) { background-color: #FFD700; }  /* Gold */

.card button {
    margin: 0 auto;
}

/* Buttons */
.css-button-fully-rounded--grey {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: 2px solid #495057;
    background: #495057;
}

.css-button-fully-rounded--grey:hover {
    background: #fff;
    color: #495057;
}

.css-button-arrow--black {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background-color: #343a40;
}

.css-button-arrow--black:hover {
    padding-right: 24px;
    padding-left: 8px;
}

.css-button-arrow--black:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.css-button-arrow--black:hover:after {
    opacity: 1;
    right: 10px;
}

/* Mensagens e Rotação de Texto */
.msg-box {
    margin: 30px;
    display: flex;
    align-content: center;
}

.rotating-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: var(--font-size-base);
    color: var(--king-kong);
    margin: 0 auto;
}

/* Dialog */
dialog {
    border: 1px solid var(--king-kong);
    border-radius: 0.25rem;
    padding: 2.5rem;
    background-color: #dadce0f4;
    box-shadow: 0 0 3rem var(--king-kong);
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
    position: absolute;
    top: 10px;
    right: 25px;
    padding: 0.5rem 1rem;
    border: 1px solid var(--king-kong);
    background-color: var(--king-kong);
    color: var(--white);
}

/* Responsividade */
@media (max-width: 768px) {
    .membership-cards {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .membership-cards {
        flex-direction: column;
        align-items: center;
    }
}